* {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:focus {
  outline: thin dotted;
}

main{
  margin: 2rem auto;
  width: 80%;
}