.sort-container {
  background-color: #f2f0f0;
  border: 1px solid #000;
  box-shadow: 7px 7px #000;
  color: #000;
  margin: 0 auto 2rem auto;
  padding: 1rem;
  position: relative;
  width: 100%;
  max-width: 270px;
}

.sorting-title {
  display: block;
}

@media screen and (min-width: 320px) {
  .sorting-title {
    display: inline;
    margin-right: 0.25rem;
  }
}

@media screen and (min-width: 668px) {
  .sort-container {
    max-width: 400px;
  }
}