.button-text {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}

/* Submit in form */
.submit-happy-thought {
  background-color: #ffadad;
  border: none;
  border-radius: 2rem;
  margin: 0.5rem 0 0.25rem 0;
  padding: 0.7rem 1.2rem;
}

.submit-happy-thought .button-text::before,
.submit-happy-thought .button-text::after {
  content: '❤️';
}

.submit-happy-thought .button-text::before {
  margin-right: 0.3rem;
}

.submit-happy-thought .button-text::after {
  margin-left: 0.3rem;
}