.like-button {
  background-color: #eaeaea;
  border: none;
  border-radius: 50%;
  flex-shrink: 0;
  font-size: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

.has-likes {
  background-color: #ffadad;
}