.timestamp {
  align-self: end;
  color: #bababa;
  font-size: 0.8rem;
  font-weight: bold;
  grid-column: 1 / span 2;
  grid-row: 3;
  justify-self: end;
}

@media screen and (min-width: 220px) {
  .timestamp {
    grid-column: 2;
    grid-row: 2;
  }
}