.likes {
  align-self: center;
  display: flex;
  grid-column: 1;
  grid-row: 2;
  color: #777777;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1;
  width: 100%;
}

.numbers-of-likes {
align-self: center;
margin-left: 0.3rem;
}
/*
.has-likes .emoji::after {
  background-color: #ffadad;
}*/