.likes {
  align-self: center;
  display: flex;
  grid-column: 1;
  grid-row: 2;
  color: #777777;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1;
  padding-left: 0.5rem;
  width: 100%;
}

.emoji {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin-right: 1rem;
  position: relative;
  z-index: 2;
  width: 20px;
}

.emoji::after {
  background-color: #eaeaea;
  border-radius: 50%;
  content: '';
  height: 40px;
  position: absolute;
  width: 40px;
  z-index: -1;
}

.has-likes .emoji::after {
  background-color: #ffadad;
}